.signup {
  width: 50.5rem;
  margin: auto;
  height: 33rem;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.signup-illustration {
  width: 40%;
  height: 100%;
  padding: 2rem;
  z-index: 2;
  background-color: var(--yellow-accent);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.signup-form {
  width: 60%;
  height: 100%;
  font-family: 'Fredoka', sans-serif;
  padding: 3rem 4rem;
  position: relative;
  background-color: var(--grey-accent);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.signup-graphic {
  max-width: 130%;
  margin-top: 2rem;
  display: block;
}

.signup-logo {
  text-decoration: none;
  font-family: 'Satisfy', cursive;
  margin-bottom: 2rem;
  display: inline-block;
  font-size: 1.2rem;
  color: var(--purple-accent);
}

.signup-statement {
  font-family: 'Fredoka', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #2c2c2c;
}

.signup-form > h3 {
  font-family: 'Fredoka', sans-serif;
  margin-bottom: 1rem;
}

.signup-input-wrapper label {
  font-size: .8rem;
  color: var(--grey);
  transition: color .2s ease-out, font-weight .2s ease-out;
}

.signup-input-wrapper input {
  border: none;
  border-bottom: 2px solid var(--grey);
  border-right: 2px solid transparent;
  padding: .2rem;
  width: 20rem;
  transition: border .2s ease-out;
  font-family: inherit;
  font-size: .95rem;
  font-weight: 600;
  color: var(--green);
  background-color: transparent;
}

::placeholder {
  color: var(--min-grey);
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
}

.signup-input-wrapper input:hover {
  border-bottom: 2px solid var(--black);
}

.signup-input-wrapper input:focus {
  outline: none;
  border-bottom: 2px solid var(--deep-yellow);
}

.signup-input-wrapper:hover .signup-input-label {
  color: var(--black);
  font-weight: 600;
}

.signup-input-wrapper {
  margin-bottom: .7rem;
  width: fit-content;
}

.signup-form button {
  border: none;
  padding: .8rem 1.5rem;
  border-radius: 2rem;
  font-family: inherit;
  font-weight: 600;
  font-size: .9rem;
  color: var(--yellow);
  background-color: var(--green);
  margin-top: 1rem;
  margin-bottom: .5rem;
  cursor: pointer;
  border: 2px solid var(--green);
  transition: all .3s ease-out;
}

.signup-form button:hover {
  background-color: transparent;
  color: var(--black);
}

.signup-form > p {
  font-size: .8rem;
}

.signup-form > p i {
  font-size: .7rem;
}

.signup-form > p a {
  text-decoration: none;
  display: inline-block;
  margin-left: .2rem;
  font-weight: bold;
  color: var(--green);
  transition: color .5s ease-out;
}

.signup-form > p a:hover {
  color: var(--purple-accent);
}

.back-link {
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: .8rem;
  font-weight: bold;
}

.back-link a {
  color: var(--green);
  text-decoration: none;
  transition: color .5s ease-out;
}

.back-link a:hover {
  color: var(--purple-accent);
}

.back-link a:hover #left-arrow {
  transform: translateX(-1rem);
}

.back-link i {
  font-size: .6rem;
  display: inline-block;
  transition: transform .3s ease-out;
}

.password-wrapper i {
  cursor: pointer;
  transition: color .3s ease-out;
  position: relative;
  left: -1.2rem;
}

#sign-up-validation-error {
  color: var(--warning);
  text-align: center;
  margin-top: .5rem;
  font-size: .9rem;
}

.username-wrapper i {
  position: relative;
  left: -1rem;
}

.username-wrapper .fa-spinner {
  animation: spin .8s linear infinite;
}

.username-wrapper > p {
  font-size: .7rem;
  color: var(--warning);
}

@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}